html, body {
    margin:0;
    padding: 0;
    height:100%;}

@media screen and (max-device-width: 599px ) {
.img-fluid {max -width: 5%; }}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}






